<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
 <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <link th:href="@{http://fonts.googleapis.com/css?family=Calibri}"
          rel='stylesheet' type='text/css' />
          <style>
body {
     font-family: 'Calibri', serif;
     font-size: 11pt;          
}
@page {
@bottom-right {
    content: "Página " counter(page) " de " counter(pages);
  }
 
}
     </style>
</head>
  <body>
  <p>BASE LEGAL</p>
 <div th:remove="tag" th:utext="${base}"></div>  
 <br></br>
 <p>IMPEDIMENTOS PARA CONTRATAR</p>
<div th:remove="tag" th:utext="${cont}"></div>

<p>CRITERIOS DE SELECCIÓN</p>
<div th:remove="tag" th:utext="${crisel}"></div>  
<p>DECLARACIÓN DESIERTO</p>
<div th:remove="tag" th:utext="${declaracion}"></div>  
<p><strong>VI. CRITERIOS DE EVALUACIÓN:</strong></p>
<div th:remove="tag" th:utext="${crieva}"></div>  
<p style="padding-left: 40px;">Los factores de evaluación del proceso de selección tienen un puntaje mínimo aprobatorio en<br />escala vigesimal (20 puntos), distribuyéndose de esta manera:</p>
<p style="padding-left: 40px;"></p>
<p style="padding-left: 40px;"></p>
 
  
  <table id="evaluacionesList" style="border-collapse: collapse;" border="1" >
    <thead>
        <tr>
            <th > EVALUACIONES </th>
            <th > PORCENTAJE </th>
            <th style="text-align: center;" > PUN. MIN </th>
             <th style="text-align: center;" > PUN. MAX </th> 
        </tr>
    </thead>
    <tbody>
        	<tr th:each="eva : ${evaluaciones}">
            <td th:text="${eva.descripcion}"></td>
            <td style="text-align: center;" th:text="${eva.peso}"  ></td>
            <td style="text-align: center;" th:text="${eva.puntajeMin}"></td>
            <td style="text-align: center;" th:text="${eva.puntajeMax}" ></td> 
        </tr>
    </tbody>
</table>

<p></p>
<p><strong>VII. CONDICIONES ESENCIALES DEL CONTRATO</strong></p>


<table style="border-collapse: collapse; width: 100%; height: 121px;" border="1">
<tbody>
<tr style="height: 36px;">
<td style="width: 36.3558%; height: 36px;">CONDICIONES</td>
<td style="width: 63.6442%; height: 36px; text-align: center;">DETALLE</td>
</tr>
<tr style="height: 34px;">
<td style="width: 36.3558%; height: 34px;"><strong>Lugar y modalidad de</strong><br /><strong>prestación del servicio</strong></td>
<td style="width: 63.6442%; height: 34px;"><span th:text="${sede}"></span></td>
</tr>
<tr style="height: 17px;">
<td style="width: 36.3558%; height: 17px;"><strong>Duración del contrato</strong></td>
<td style="width: 63.6442%; height: 17px;"><span th:text="${contrato}"></span></td>
</tr>
<tr style="height: 17px;">
<td style="width: 36.3558%; height: 17px;"><strong>Remuneración mensual</strong></td>
<td style="width: 63.6442%; height: 17px;"><span th:text="${remuneracion}"></span></td>
</tr>
<tr style="height: 17px;">
<td style="width: 36.3558%; height: 17px;"><strong>Jornada Laboral </strong></td>
<td style="width: 63.6442%; height: 17px;"><span th:text="${jornada}"></span></td>
</tr>
</tbody>
</table>
<p></p>
<p><strong>VIII. CRONOGRAMA Y ETAPAS DEL PROCESO </strong></p>
 
 <ul>
<li>Las publicaciones del proceso de selección de personal se realizan en el portal web<br />https://unete.sunat.gob.pe/. La institución podrá realizar comunicaciones a través de los<br />correos electrónicos declarados por los postulantes en su Formato Único de Postulación,<br />siendo responsabilidad del postulante la verificación de los mismos.</li>
<li>Es responsabilidad del postulante realizar el seguimiento permanente de las publicaciones y<br />mantener habilitada la cuenta de correo electrónico consignada en su inscripción en el Formato<br />Único de Postulación, así como, gestionar que las notificaciones electrónicas enviadas no sean<br />consideradas como correo no deseado o SPAM.</li>
<li>El postulante debe contar con una conexión a internet estable para evitar inconvenientes<br />durante el desarrollo de cada una de las etapas del proceso de selección.</li>
<li>El cronograma puede estar sujeto a variaciones que se publicarón oportunamente.</li>
<li>Las instrucciones de cada etapa serán publicadas con los resultados de la etapa anterior</li>
</ul>
 
  	<table id="formacionList" style="border-collapse: collapse;" border="1" >
    <thead>
        <tr>
            <th > ETAPA </th>
            <th > DESCRIPCION </th>
            <th > RESPONSABLE </th>
             <th > PERIODO </th>
         
        </tr>
    </thead>
    <tbody>
        <tr th:each="cro : ${cronograma}">
            <td th:text="${cro.descripcionetapa}"></td>
            <td th:text="${cro.descripcion}"></td>
            <td th:text="${cro.responsable}"></td>
  			<td >Del <span th:text="${#dates.format(cro.periodoini, 'dd-MM-yyyy')}"></span> al <span th:text="${#dates.format(cro.periodofin, 'dd-MM-yyyy')}"></span></td>
        </tr>
    </tbody>
</table>
 
 
  <p><strong><span th:text="${Titbon1}"></span></strong></p>
 <br></br>
  <span th:text="${bon1}"></span>
<p></p>
 <table id="formacionList" style="border-collapse: collapse;" border="1" >
    <thead>
        <tr>
            <th > DESCRIPCION </th>
            <th > APLICA SOBRE </th>
            <th style="text-align: center;" > % DE BONIFICACION </th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="lBon1 : ${listBon1}">
            <td th:text="${lBon1.descripcion}"></td>
            <td th:text="${lBon1.aplicaSobre}"></td>
            <td style="text-align: center;" th:text="${lBon1.porcentajeBonificacion}"></td>
        </tr>
    </tbody>
</table>
<p></p>
 
    <p><strong><span th:text="${Titbon2}"></span></strong></p>
  <br></br>
  <span th:text="${bon2}"></span>
  
  <p></p>
 <table id="formacionList" style="border-collapse: collapse;" border="1"  >
    <thead>
        <tr>
        <th > NIVEL </th>
            <th > DESCRIPCION </th>
            <th > APLICA SOBRE </th>
            <th style="text-align: center;" > % DE BONIFICACION </th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="lBon2 : ${listDeport}">
        <td style="text-align: center;" th:text="${lBon2.nivel}"></td>
            <td th:text="${lBon2.descripcion}"></td>
            <td th:text="${lBon2.aplicaSobre}"></td>
            <td style="text-align: center;" th:text="${lBon2.porcentajeBonificacion}"></td>
        </tr>
    </tbody>
</table>
<p></p>
   <p style="text-align: right;">
 	 Fecha de Impresión: <span style="text-align: right;" th:text="${#dates.format(fechaActual, 'dd-MM-yyyy')}"></span>
 </p>
  </body>
</html>