<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
 <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
</head>
  <body>
  
   
<p><strong>Identificación del Puesto</strong></p>
 
		<table style="border-collapse: collapse; width: 76.1149%; height: 61px; margin-left: auto; margin-right: auto;">
		<tbody>
		<tr>
		<td style="width: 45%;">Grupo de Servidores Civiles:</td>
		<td style="width: 55%;"><span th:text="${reporte.servidores}"></span></td>
		</tr>
		<tr>
		<td style="width: 45%;">Nivel/categoría: </td>
		<td style="width: 55%;"><span th:text="${reporte.nivel}"></span></td>
		</tr>
		<tr>
		<td style="width: 45%;">Familia de puestos: </td>
		<td style="width: 55%;"><span th:text="${reporte.familia}"></span></td>
		</tr>
		</tbody>
		</table>
 
 <p><strong>Base legal</strong></p>
 
  <p><strong>Perfil del Puesto</strong></p>
  <table id="formacionList" style="border-collapse: collapse;" border="1" >
    <thead>
        <tr>
            <th > NIVEL EDUCATIVO </th>
            <th > ESTADO </th>
            <th > GRADO </th>
             <th > SITUACION ACÁDEMICA </th>
              <th > CARRERA/S O ESPECIALIDAD/ES </th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="formacion : ${reporte.formaciones}">
            <td th:text="${formacion.niveleducativo}"></td>
            <td th:text="${formacion.estado}"></td>
            <td th:text="${formacion.grado}"></td>
            <td th:text="${formacion.situacion}"></td>
            <td th:text="${formacion.carreras}"></td>
        </tr>
    </tbody>
</table>

 <p><strong>Conocimientos</strong></p>
    <strong>A)</strong>  Conocimientos Técnicos principales requeridos para el puesto (No se requiere sustentar con documentos): <p></p>
    <p style="padding-left: 20px;">Técnicas de evaluación psicológica, técnicas de entrevistas de selección de personal.</p> 																											
    <strong>B)</strong>  Cursos de especialización requeridos:<p></p>
    <p style="padding-left: 20px;">Cursos en selección de personal o afines (al menos 30 horas acumuladas)</p> 	
    <strong>C)</strong>  Programas de especialización requeridos:<p></p>
    <p style="padding-left: 20px;">Programa en selección de personal o afines (al menos 30 horas acumuladas)</p> 	
    <strong>D)</strong>  Conocimientos de Ofimática e Idiomas/Dialectos<p></p>
    
        
    <table style=" width: 85.7435%; height: 63px;" >
<tbody>
<tr>
<td style="width: 47.7947%;">
		<table id="conocimientoList" style="border-collapse: collapse;" border="1" >
		    <thead>
		        <tr>
		            <th > OFIMÁTICA </th>
		            <th > NIVEL DE DOMINIO </th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="con : ${reporte.conocimientos}">
		            <td th:text="${con.descripcion}"></td>
		            <td th:text="${con.niveldominio}"></td>
		
		        </tr>
		    </tbody>
		</table>
</td>
<td style="width: 16.1166%;"></td>
<td style="width: 178.91%;">
		<table id="idiomasList" style="border-collapse: collapse;" border="1">
		    <thead>
		        <tr>
		            <th > IDIOMA </th>
		            <th > NIVEL DE DOMINIO </th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="idioma : ${reporte.idiomas}">
		            <td th:text="${idioma.descripcion}"></td>
		            <td th:text="${idioma.niveldominio}"></td>
		
		        </tr>
		    </tbody>
		</table>
</td>
</tr>
</tbody>
</table>
    
     <p><strong>Experiencia</strong></p>
    <p><span style="text-decoration: underline;">Experiencia general</span></p>
    Indique el tiempo total de experiencia laboral; ya sea en el sector público o privado.<p></p>  
        <p style="padding-left: 20px;"> <span th:text="${reporte.anioexptotal}+ ' años ' + ${reporte.mesexptotal}+ ' meses'"></span></p> 
    <p><span style="text-decoration: underline;">Experiencia específica</span></p>
    <strong>A.</strong>  Indique el tiempo de <strong>experiencia requerida para el puesto</strong> en la función o la materia: <p></p>
        <p style="padding-left: 20px;"><span th:text="${reporte.anioexprequerida}+ ' años ' + ${reporte.mesexprequerida}+ ' meses'"></span></p> 
    <strong>B.</strong>  En base a la experiencia requerida para el puesto <strong>(parte A)</strong>, señale el tiempo requerido en el <strong>sector público</strong>:  <p></p> 
    <p style="padding-left: 20px;"><span th:text="${reporte.anioexppublico}+ ' años ' + ${reporte.mesexppublico}+ ' meses'"></span></p>
    <strong>C.</strong> Indique el <strong>nivel mínimo de puesto</strong> que se requiere como experiencia; ya sea en el sector público o privado: <p></p>
    <p style="padding-left: 20px;"><span th:text="${reporte.nivelminimo}"></span></p>
    <em>* Mencione <strong><span style="text-decoration: underline;">otros aspectos complementarios sobre el requisito de experiencia</span></strong>; en caso existiera algo adicional para el puesto.</em><p></p>
    <p style="padding-left: 20px;"><span th:text="${reporte.aspectoscomplementarios}"></span></p>
  
  	<p><strong>Habilidades o competencias</strong></p>
    
    
     <table style="border-collapse: collapse; width: 100%; " border="1">
		<tbody>
		    	<tr th:each="habilidades : ${reporte.expdetalleHabilidades}">
     		<td th:text="${habilidades.descripcion}"></td>
		</tr>
		</tbody>
		</table>

    
    <p><strong>Requisitos adicionales</strong></p>
    
    <table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
					<tr th:each="requisitos : ${reporte.expdetalleRequisitos}">
     					<td th:text="${requisitos.descripcion}"></td>
					</tr>
</tbody>
</table>

<p><strong>Funciones del puesto</strong></p>
		<tr th:each="act : ${reporte.actividades}">
     		<td th:text="${act.descripcion}"></td>
		</tr>
  <p><strong>Evaluaciones</strong></p>
  
  <table id="evaluacionesList" style="border-collapse: collapse;" border="1" >
    <thead>
        <tr>
            <th > EVALUACIONES </th>
            <th > PORCENTAJE </th>
            <th > PUN. MIN </th>
             <th > PUN. MAX </th> 
        </tr>
    </thead>
    <tbody>
        <tr th:each="eva : ${evaluaciones}">
            <td th:text="${eva.descripcion}"></td>
            <td th:text="${eva.peso}"></td>
            <td th:text="${eva.puntajeMin}"></td>
            <td th:text="${eva.puntajeMax}"></td> 
        </tr>
    </tbody>
</table>
  
  <p><strong>Cronograma y Etapas del Proceso</strong></p>
  	<table id="formacionList" style="border-collapse: collapse;" border="1" >
    <thead>
        <tr>
            <th > ETAPA </th>
            <th > DESCRIPCION </th>
            <th > RESPONSABLE </th>
             <th > PERIODO </th>
         
        </tr>
    </thead>
    <tbody>
        <tr th:each="cro : ${cronograma}">
            <td th:text="${cro.descripcionetapa}"></td>
            <td th:text="${cro.descripcion}"></td>
            <td th:text="${cro.responsable}"></td>
            <td th:text="${cro.periodoini}"></td>
  
        </tr>
    </tbody>
</table>
  
  
  </body>
</html>