<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<link th:href="@{http://fonts.googleapis.com/css?family=Calibri}"
	rel='stylesheet' type='text/css' />
<style>
body {
      font-family: 'Calibri', serif;
	  font-size: 11pt;
      line-height: 1.3;
      text-align: justify;
    }

    div.headerUnico {
      text-align: left;
      display: block;
      position: running(header);
    }
    
    div.header {
      text-align: left;
      display: block;
      position: running(header);
    }

    div.footer {
      background-color: green;
      display: block;
      text-align: center;
      position: running(footer);
    }
    
    div.contenido {
    	text-align: justify;
    }

	@page :first{
	
		@top-left{
		 
 
		content: element(header);
		}
	}

    @page {
    	margin: 150px 90px 60px 70px;
        @top-left {
            content: element(header);
        }
    }
    @page {
        @bottom-right {
            content: "Página "counter(page)" de "counter(pages);
        }
    }
    
    table.minimalistBlack {
	  border: 2px solid #000000;
	  width: 100%;
	  text-align: left;
	  border-collapse: collapse;
	}
	table.minimalistBlack td, table.minimalistBlack th {
	  border: 1px solid #000000;
	  padding: 5px 4px;
	}
	table.minimalistBlack tbody td {
	  font-family: Calibri;
	  font-size: 11px;
	}
	table.minimalistBlack thead {
	  background: #CFCFCF;
	  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
	  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
	  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
	  border-bottom: 3px solid #000000;
	}
	table.minimalistBlack thead th {
	  font-size: 11px;
	  font-weight: bold;
	  color: #000000;
	  text-align: center;
	  font-family: Calibri;
	}
	table.minimalistBlack tfoot {
	  font-size: 13px;
	  font-weight: bold;
	  color: #000000;
	  background: #CFCFCF;
	  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
	  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
	  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
	  border-top: 3px solid #000000;
	}
	table.minimalistBlack tfoot td {
	  font-size: 13px;
	}
	
 
 
</style>
</head>
<body>
<div class="headerUnico">
<img alt="cabeceraInicial" width="605" height="50" th:src="@{classpath:images/cabecera.png}" />
</div>
<div class="header">
      <div style="float: left;width: 35%">
      <img th:src="${reporte.logo}" width="70px" height="70px"></img>
      </div>
      <div style="float: right;width: 65%;text-align: right;" >
      		<span th:text="${reporte.codCabecera}"></span>
      </div>
 </div>
  <!-- Custom HTML footer -->
  <div class="footer">
  </div>
    <div class="contenido">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div style="text-align: center;" >
    	<p>
    	 
    <span style="font-size: 36pt;" th:text="${reporte.modalidadProceso}"></span>
    <span style="font-size: 36pt;" th:text="${reporte.tipoProceso}"></span>
    </p>

    <span style="font-size: 36pt;" th:text="${'RÉGIMEN '+reporte.regimen}"></span>
    </div>
    
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
      <br/>
    <br/>
    <br/>
    <br/>
      <br/>
    <br/>
    <br/>
    <br/>
    <div style="text-align: center;" >
    	<p>
    <span style="font-size: 16pt;" th:text="${reporte.modalidadProceso}"></span>
    <span style="font-size: 16pt;" th:text="${reporte.tipoProceso}"></span>
    </p>
    <p>
    <span style="font-size: 16pt;" th:text="${reporte.sigla + ' '+ reporte.codigoConvocatoria}"></span>
    </p>
    <span style="font-size: 16pt;" th:text="${reporte.regimen}"></span>
    </div>
    <br/>
    <table style="border-collapse: collapse; width: 100%;height:204; border: 5px black;" border="1">
<tbody>
<tr  style="height: 94px;">
<td style="width: 78.2651%; background-color: grey;text-align:center;font-size: 16pt;color: white;">Puesto</td>
<td style="width: 21.7349%; background-color: grey;text-align:center;font-size: 16pt;color: white;">N° de Posiciones</td>
</tr>
<tr  style="height: 110px;">
<td style="width: 78.2651%;text-align:center;font-size: 16pt;"><span th:text="${reporte.perfil.nombrePuesto}"></span></td>
<td style="width: 21.7349%;text-align:center;font-size: 16pt;"><span th:text="${reporte.datoConcurso.nroVacantes}"></span></td>
</tr>
</tbody>
</table>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
        <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
        <br/>
    <br/>
    <br/>
    

    <p><strong>CAPITULO I. DISPOSICIONES GENERALES</strong></p>
    <p><strong>1.1. Objeto del concurso</strong></p>
	 <table style="border-collapse: collapse;width: 100%; height: 128px;" border="1" cellspacing="0" cellpadding="10">
<tbody>
<tr style="height: 18px;">
<td style="width: 25.7795%; height: 18px;">Entidad Pública</td>
<td style="height: 18px; width: 74.2204%;" colspan="3"><span th:text="${reporte.nombreEntidad}"></span></td>
</tr>
<tr style="height: 10px;">
<td style="height: 20px; width: 25.7795%;" rowspan="2">Tipo de Proceso</td>
<td style="width: 74.2204%; height: 10px;" colspan="3"><span th:text="${reporte.modalidadProceso+' '+reporte.tipoProceso + ' - ' +reporte.sigla + ' dirigido a: '}"></span></td>
</tr>
<tr style="height: 10px;">
<td style="width: 74.2204%; height: 10px;" colspan="3"><span th:text="${reporte.dirigido}"></span></td>
</tr>
<tr style="height: 18px;">
<td style="width: 25.7795%; height: 18px;">Código del Concurso</td>
<td style="height: 18px; width: 74.2204%;" colspan="3"><span th:text="${reporte.codigoConvocatoria}"></span></td>
</tr>
<tr style="height: 18px;">
<td style="width: 25.7795%; height: 18px;">Puesto Convocado</td>
<td style="height: 18px; width: 74.2204%;" colspan="3"><span th:text="${reporte.perfil.nombrePuesto}"></span></td>
</tr>
<tr style="height: 18px;">
<td style="width: 25.7795%; height: 18px;">Perfil de Puesto</td>
<td style="height: 18px; width: 74.2204%;" colspan="3">Anexo A</td>
</tr>
<tr style="height: 18px;">
<td style="width: 25.7795%; height: 18px;">Posiciones</td>
<td style="height: 18px; width: 74.2204%;" colspan="3"><span th:text="${reporte.datoConcurso.nroVacantes}"></span></td>
</tr>
<tr style="height: 18px;">
<td style="width: 25.7795%; height: 18px;">Órgano responsable del proceso</td>
<td style="height: 18px; width: 74.2204%;" colspan="3"><span th:text="${reporte.datoConcurso.organoSeleccion}"></span></td>
</tr>
</tbody>
</table>

<p><strong>1.2. Base Legal</strong></p>
	<div style="text-align: center;"><strong>GENERAL</strong></div>
	 <div style="margin-left: 20px" class="content" th:utext="${reporte.datoConcurso.baseLegal}" >
	 </div>
	 <div style="text-align: center;"><strong>ESPECÍFICAS DE LA ENTIDAD</strong></div>
	<div class="content" style="margin-left: 20px" th:utext="${reporte.datoConcurso.baseLegalEspecifico}"></div>
	
<p><strong><span th:text="${'1.3. Requisitos para la incorporación al servicio civil por '+ reporte.sigla}"></span></strong></p>
	
	<ul  th:each="pet : ${reporte.declaracionServir}">
		  <li class="list-group-item">
		    <span th:text="${pet.contenido}"></span>
		  </li>
	</ul>
	<ul  th:each="pet : ${reporte.declaracion}">
		  <li class="list-group-item">
		    <span th:text="${pet.descripcion}"></span>
		  </li>
	</ul>
<p><strong>1.4. Evaluaciones del proceso</strong></p>
				<table id="evaluacionesList"  
				 style="width: 74%; margin-left: auto;border: none;" height="43">
					<thead>
						<tr style="width: 42.973%; text-align: left ;">
							<th>EVALUACIONES</th>
							<th>APLICABLES  EN EL PRESENTE PROCESO</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="eva : ${reporte.evaluaciones}">
							<td th:text="${eva.descripcion}"></td>
							<td th:text="${eva.aplica}" style="text-align: center;"></td>
						</tr>
					</tbody>
				</table>

<p><strong>1.5. Disposiciones generales a tener en cuenta para las/los postulantes del presente concurso</strong></p>
				<div style="text-align: justify;">
					<ol style="list-style-type: lower-alpha;">
						<li>
							<p>Las/Los postulantes deben
							enviar la información requerida durante cada una de las
							etapas del proceso en las fechas y horas determinadas
							según el cronograma al correo electrónico
							habilitado por la entidad para dicho fin y debe tomar en
							consideración las características del mismo
							(Formato del archivo y peso máximo del mismo).
							</p>
						</li>
						<li>
						<p>
						Para la etapa de
							reclutamiento como la etapa de evaluación curricular deben
							remitir la información requerida por cada etapa
							según lo establecido en los medios de comunicación.
							</p>
							<table  
								style="width: 100%;">
								<tbody>
									<tr>
										<td style="width: 126.765%; text-align: center;" colspan="2">MEDIOS
											DE COMUNICACI&Oacute;N</td>
									</tr>
									<tr>
										<td style="width: 38.9952%;">Correo electrónico</td>
										<td style="width: 87.7697%;"><span th:text="${reporte.datoConcurso.correo}"></span></td>
									</tr>
									<tr>
										<td style="width: 38.9952%;">Teléfono de Contacto</td>
										<td style="width: 87.7697%;"><span th:text="${reporte.datoConcurso.telefonoContacto}"></span>
										</td>
									</tr>
									<tr>
										<td style="width: 38.9952%;">Pagina Web
											Institucional</td>
										<td style="width: 87.7697%;"><span th:text="${reporte.urlWebEntidad}"></span></td>
									</tr>
								</tbody>
							</table>
							<br/>
						</li>
						
						<li>
							<p>
							En la etapa de reclutamiento
							los expedientes de postulación serán remitidos de
							manera virtual por los/as postulantes al correo
							electrónico indicado en el literal b<strong>,</strong>
							dentro de los días estipulados en el cronograma del
							concurso (Anexo B) considerándose para ello 
							 , de llegar fuera del horario señalado el/la
							postulante no será considerado su postulación.
							</p>
						</li>
						<li>
						<p>Los resultados de las evaluaciones se publicarón
							dando a conocer la lista de los/as postulantes con el puntaje
							además de la condición obtenida y consideraciones a
							tomar en cuenta para la siguiente etapa y/o evaluación
							será; publicada según el cronograma del concurso
							(Anexo B).
							</p>
						</li>
						<li><p>En la publicación de resultados de cada etapa y/o
							evaluación se anunciará fecha, hora y
							consideraciones que deberán ser tomadas en cuenta por
							el/la postulante para la siguiente etapa y/o evaluación.</p></li>
						<li><p>En la etapa de Evaluación Curricular los/as
							postulantes que hayan obtenido la condición de <strong>CALIFICA</strong>
							en la etapa anterior, presentarán los documentos que
							sustenten lo consignado en la Ficha de Postulante (Anexo C).
							Dicha información deberá ser remitida vía
							correo electrónico al correo indicado en el literal b,</p>
						</li>
						<li><p><strong>Los resultados de la Evaluación
								Curricular se darán a conocer con </strong>La lista de los/as
							postulantes con el puntaje además de la condición
							obtenida será publicada, según el cronograma del
							concurso, en el Portal Institucional de la entidad.</p>
						</li>
						<li>
						<p>La <strong>lista de los postulantes que
								CALIFICAN</strong> a la etapa de entrevista serán publicados
							según el cronograma del concurso, en el Portal
							Institucional de la entidad , a su vez se indicará;
							día y hora de la entrevista así como otras
							consideraciones a tomar en cuenta por el/la postulante.
							</p>
						</li>
						<li><p>
						<strong>Los resultados de la Entrevista Final</strong> se
							darán a conocer con la lista de los/as postulantes con el
							puntaje además de la condición obtenida será
							publicada, según el cronograma del concurso, en el Portal
							Institucional de la entidad.
						</p></li>
						<li>
						<p>El/La postulante es responsable de realizar el
							seguimiento de la publicación de los resultados parciales
							y totales, además de los comunicados que se emitan como
							parte del concurso. Asimismo, deberá verificar su cuenta
							de correo electrónico declarada en la ficha de
							postulación para las comunicaciones que se emitan durante
							el concurso.
							</p>
						</li>
					</ol>
				</div>
<p><strong>1.6. Condiciones del Puesto</strong></p>				
<div>
					<table  
						style="width: 100%; height: 180px;">
						<tbody>
							<tr style="height: 18px;">
								<td style="width: 47.9296%; height: 18px;"><strong>Grupo de Servidores </strong></td>
								<td style="width: 52.0704%; height: 18px;"><span th:text="${reporte.perfil.gruposervidores}"></span></td>
							</tr>
							<tr style="height: 18px;">
								<td style="width: 47.9296%; height: 18px;"><strong>Familia de puestos</strong></td>
								<td style="width: 52.0704%; height: 18px;"><span th:text="${reporte.perfil.familia}"></span></td>
							</tr>
							<tr style="height: 18px;">
								<td style="width: 47.9296%; height: 18px;"><strong>Rol</strong></td>
								<td style="width: 52.0704%; height: 18px;"><span th:text="${reporte.perfil.rol}"></span></td>
							</tr>
							<tr style="height: 18px;">
								<td style="width: 47.9296%; height: 18px;"><strong>Nivel/Categor&iacute;a</strong></td>
								<td style="width: 52.0704%; height: 18px;"><span th:text="${reporte.perfil.nivel}"></span></td>
							</tr>
							<tr style="height: 18px;">
								<td style="width: 47.9296%; height: 18px;"><strong>Localidad</strong></td>
								<td style="width: 52.0704%; height: 18px;"><span th:text="${reporte.perfil.sedeDireccion}"></span></td>
							</tr>
							<tr style="height: 18px;">
								<td style="width: 47.9296%; height: 18px;"><strong>Compensaci&oacute;n Econ&oacute;mica Anual </strong></td>
								<td style="width: 52.0704%; height: 18px;"><span th:text="${'S/ '+reporte.perfil.remuneracionAnual + '0'}"></span></td>
							</tr>
							<tr style="height: 18px;">
								<td style="width: 47.9296%; height: 18px;"><strong>Pago Mensual </strong></td>
								<td style="width: 52.0704%; height: 18px;"><span th:text="${'S/ '+reporte.perfil.remuneracion} + '0'"></span></td>
							</tr>
							<tr style="height: 18px;">
								<td style="width: 47.9296%; height: 18px;"><strong>Horario</strong></td>
								<td style="width: 52.0704%; height: 18px;"><span th:text="${reporte.perfil.jornadaTrabajo} + ' horas'"></span></td>
							</tr>
							<tr style="height: 18px;">
								<td style="width: 47.9296%; height: 18px;"><strong>Disponibilidad del puesto</strong></td>
								<td style="width: 52.0704%; height: 18px;">Vacante</td>
							</tr>
							<tr style="height: 18px;">  
								<td style="width: 47.9296%; height: 18px;"><strong>Per&iacute;odo
										de prueba*</strong></td>
								<td style="width: 52.0704%; height: 18px;">De conformidad
									con la D&eacute;cimo Sexta Disposici&oacute;n Complementaria
									Transitoria del Reglamento de la Ley del Servicio Civil, los
									servidores bajo los reg&iacute;menes de los Decretos
									Legislativos N° 276, 728 y 1057 que ganen los concursos y
									opten voluntariamente por el traslado al nuevo r&eacute;gimen
									del servicio civil no se encuentran sujetos al per&iacute;odo
									de prueba previsto en la Ley y en el Reglamento del Servicio
									Civil.</td>
							</tr>
						</tbody>
					</table>
					<br/>
*En el caso de los puestos del grupo de Directivos Públicos no aplica la Décimo Sexta Disposición Complementaria Transitoria del Reglamento de la Ley del Servicio Civil.

El periodo de contratación será de plazo indeterminado, de conformidad con el Artículo 183 del Reglamento de la Ley del Servicio Civil.

				</div>

<p><strong>CAPITULO II. DISPOSICIONES ESPECÍFICAS DEL PROCESO</strong></p>		
<p><strong>2.1.	Cronograma del Proceso</strong></p>	
 <span th:text="${'El/La '+ reporte.modalidadProceso +' '+reporte.tipoProceso +' - '+reporte.sigla+' ' +reporte.codigoConvocatoria +' (en adelante '+reporte.sigla+')'}"></span> se rige por el <strong>Cronograma (Anexo B)</strong> publicado.
<p><strong>2.2.	Forma de presentación de los documentos que sustenten el cumplimiento del perfil:</strong></p>	
<div style="text-align: justify;">
					<ol style="list-style-type: lower-alpha;">
						<li><p>Los/Las postulantes deben
							verificar antes del env&iacute;o de la informaci&oacute;n que
							sustente el cumplimiento del perfil del puesto, bajo su
							responsabilidad, que el/los archivos est&eacute;n completos y
							adem&aacute;s que puedan ser descargados y su contenido sea
							legible. <strong>La entidad remitir&aacute; un
									correo de confirmaci&oacute;n de recepci&oacute;n del
									env&iacute;o que dar&aacute; constancia de la recepci&oacute;n</strong>,
							por lo que, en caso de no llegar dicho acuse, el/la postulante
							deber&aacute; comunicarlo Telef&oacute;nicamente de manera
							oportuna y reenviar el correo electr&oacute;nico que acredite su
							env&iacute;o dentro del plazo que se&ntilde;ala el cronograma
							(Anexo B).
							</p>
						</li>
						<li>
						<p>
							La Ficha de Postulante tiene car&aacute;cter de
							Declaraci&oacute;n Jurada por lo cual toda la informaci&oacute;n
							contenida es de exclusiva responsabilidad de los/as postulantes,
							y <strong><u>debe </u></strong>estar firmada la misma que puede
							ser escaneada, digitalizada o usar firma digital, Por lo cual <strong>la
								entidad</strong> tomar&aacute; en cuenta la informaci&oacute;n consignada
							reserv&aacute;ndose el derecho de llevar a cabo la
							verificaci&oacute;n correspondiente; as&iacute; como solicitar la
							acreditaci&oacute;n y/o sustento de la misma.
							</p>
						</li>
						<li >
						<p>La postulación se llevara a cabo en la plataforma informática de reclutamiento proporcionada por SERVIR, cuya información registrada por el postulante tiene carácter de Declaración Jurada.
						</p>
						</li>
						
						<li>
						<p>La Oficina de Recursos Humanos de la Entidad
							revisar&aacute; si los/as postulantes al <span th:text="${reporte.sigla}"></span>, a la fecha de
							postulaci&oacute;n, cumplen con los requisitos m&iacute;nimos del
							puesto, a partir de la informaci&oacute;n consignada en la Ficha
							de Postulante (Anexo C); y si han cumplido con enviar los
							documentos que forman parte del expediente de postulaci&oacute;n
							que son la <strong>Ficha de Postulante (Anexo C) y
								Declaraciones Juradas (Anexo D).</strong>
								</p>
						</li>
						<li><p><u>Sólo se considerará como presentado la información registrada</u> por el/la postulante que contenga la Ficha de Postulante y Declaraciones Juradas, así como la documentación que acrediten o sustenten el cumplimiento del perfil del puesto según lo  señalado en los literales a) y b) respectivamente del presente numeral, <u>en el horario y fecha establecida en el Cronograma</u>. No se admitirá entrega ni subsanación de documentación en fecha posterior a la establecida
Aquellas postulaciones que no cumplan lo señalado en el plazo establecido en el cronograma dará lugar a la <strong>DESCALIFICACIÓN</strong> del/la postulante.
</p></li>
						<li>
						<p>No ser&aacute;n evaluados los documentos ilegibles o que
							no puedan ser descargados de tal modo que no se aprecie ni
							verifique su contenido, considerando al postulante <strong>DESCALIFICADO/A</strong>
							del concurso.
							</p>
						</li>
						<li><p><strong><u>No se aceptar&aacute;n
									declaraciones juradas</u></strong> en reemplazo de los documentos que
							acrediten lo declarado en la Ficha de Postulante (Anexo C). <strong><u>S&oacute;lo
									en el caso de ofim&aacute;tica e idiomas</u></strong> se considerar&aacute;
							lo declarado en la Ficha de Postulante.</p></li>
						<li><p>En caso de que el/la postulante haga uso de
							documentaci&oacute;n con certificaci&oacute;n electr&oacute;nica
							para sustentar cursos y/o programas de especializaci&oacute;n
							deber&aacute; proporcionar el correspondiente URL (v&iacute;nculo
							web) para su verificaci&oacute;n.</p></li>
					</ol>
					
				</div>
				
<p><strong>2.3.	Etapas y criterios de Evaluación</strong></p>
<p><strong>2.3.1	Etapa de Convocatoria y Reclutamiento</strong></p>
<p><strong>2.3.1.1.	Fase de Convocatoria</strong></p>	
Se realiza en el plazo indicado en el Cronograma – Anexo B del <span th:text="${reporte.sigla}"></span> y se difundirá durante <span th:text="${reporte.diaDifusionTexto}"></span> (<span th:text="${reporte.diaDifusion}"></span>) días hábiles, a través de: 
<ul>

<li>Portal Talento Perú.</li>
<li>Portal Institucional de la entidad.</li>

</ul>
Adicionalmente, se podrá publicar la convocatoria en otros medios de comunicación masiva.
<p><strong>2.3.1.2.	Fase de Reclutamiento</strong></p>	
<p>
								Esta fase comprende el registro del postulante y la
								revisi&oacute;n del expediente de postulaci&oacute;n&nbsp; que
								comprende la <strong>Ficha del postulante Anexo C y
									Declaraciones Juradas Anexo D</strong>, en estricta observancia de los
								principios que rigen el Servicio Civil y los establecidos en el
								art&iacute;culo IV del Texto &Uacute;nico Ordenado de la Ley
								N&deg; 27444, Ley del Procedimiento Administrativo General, los
								cuales<strong><u> tienen car&aacute;cter de
										declaraci&oacute;n jurada; </u></strong>por lo cual, est&aacute;n sujetos a
								verificaci&oacute;n posterior, <strong><u>deben
										contener la informaci&oacute;n requerida, y estar firmados en
										el campo correspondiente dentro de los formatos (La firma
										puede ser digitalizada, escaneada o firma digital)</u></strong>, caso
								contrario el/la postulante ser&aacute; considerado como <strong>DESCALIFICADO/A</strong>.
							</p>
							<p>El registro es de entera responsabilidad de las/los
								postulantes y deben cumplir con las siguientes disposiciones
								para la de presentaci&oacute;n:</p>
							<ol style="list-style-type: lower-alpha;">
								<li>Criterios de la postulaci&oacute;n
									<p>La postulaci&oacute;n al <span th:text="${reporte.sigla}"></span> se realiza a trav&eacute;s
										de la Ficha de Postulante (Anexo C), de acuerdo a las
										siguientes disposiciones:</p>
									<ol>
										<li>
										<p>En la <strong><u>Ficha de Postulante
													(Anexo C)</u></strong>, se debe consignar toda la informaci&oacute;n
											requerida respecto al cumplimiento de los requisitos
											m&iacute;nimos del perfil del puesto, adem&aacute;s de la
											informaci&oacute;n necesaria para ser beneficiario del
											puntaje adicional a lo m&iacute;nimo requerido conforme lo
											establece la <strong>Ficha de Evaluaci&oacute;n
												Curricular (Anexo E)</strong> y que puedan ser sustentadas mediante
											documentos en la etapa de Evaluaci&oacute;n Curricular.
											</p>
										</li>
										<li><p>Si el/la postulante es Licenciado/a de las Fuerzas
											Armadas y cuenta con el certificado otorgado por la autoridad
											competente que acredita dicha condici&oacute;n, deber&aacute;
											consignar la informaci&oacute;n en la secci&oacute;n
											correspondiente.</p></li>
										<li><p>Si el/la postulante cuenta con su certificado de
											discapacidad que acredita dicha condici&oacute;n,
											deber&aacute; declararlo en la ficha de postulante. Asimismo,
											de ser el caso, debe detallar los ajustes razonables
											requeridos para realizar las acciones correspondientes, de
											acuerdo a la normativa vigente. La persona con discapacidad
											que, por dilaciones o demoras ajenas a ella, no cuente con
											dicho documento solicita el otorgamiento de ajustes
											razonables adjuntando una declaraci&oacute;n jurada donde
											manifieste que tiene la condici&oacute;n de discapacidad.
											Esta declaraci&oacute;n jurada se sustituye por el respectivo
											Certificado de discapacidad, una vez que sea obtenido.</p></li>
										<li><p>Del mismo modo en el caso de deportista calificado de
											alto nivel por el Instituto Peruano del Deporte,
											deber&aacute; declarar si cuenta con dicha condici&oacute;n
											al final de la <strong><u>Ficha de Postulante
													(Anexo C)</u></strong> en Informaci&oacute;n adicional.
													</p>
										</li>
										<li><p>El postulante debe considerar toda la
											informaci&oacute;n correspondiente a su formaci&oacute;n
											acad&eacute;mica, experiencia laboral general y experiencia
											espec&iacute;fica, tomando en cuenta que durante la
											evaluaci&oacute;n curricular se otorga puntaje adicional a lo
											m&iacute;nimo requerido en el perfil conforme lo establece la
											<strong>Ficha de Evaluaci&oacute;n Curricular (Anexo
												E)</strong>; para ello, es importante que se tengan en
											cuenta las definiciones y consideraciones siguientes:
											</p>
											<table
												style="width: 100%; height: 18px;"
												 >
												<tbody>
													<tr style="height: 18px;">
														<td
															style="width: 34.7953%; height: 18px; text-align: center;">INFORMACI&Oacute;N
															DEL PERFIL</td>
														<td
															style="width: 65.2047%; height: 18px; text-align: center;">ASPECTOS
															REQUERIDOS A TOMAR EN CUENTA</td>
													</tr>
													<tr>
														<td style="width: 34.7953%;"><strong>Formaci&oacute;n
																Acad&eacute;mica</strong></td>
														<td style="width: 65.2047%;">Se refiere a los
															estudios formales requeridos para un determinado puesto.
															En los casos en donde se indique afines por la
															formaci&oacute;n profesional se considerar&aacute;n
															aquellas carreras profesionales similares por los fines
															que persiguen o procesos que abordan o las materias
															desarrolladas, siempre que guarde relaci&oacute;n directa
															con las funciones del puesto. Asimismo, deber&aacute;n
															declarar en esta misma secci&oacute;n, los grados
															acad&eacute;micos y t&iacute;tulos profesionales
															obtenidos a la fecha de postulaci&oacute;n.</td>
													</tr>
													<tr>
														<td style="width: 34.7953%;"><strong>Experiencia
																Laboral</strong></td>
														<td style="width: 65.2047%;">Postulante que no cumple
															con alguno de los requisitos m&iacute;nimos exigidos en
															el perfil de puesto.</td>
													</tr>
													<tr>
														<td style="width: 34.7953%;"><strong>Experiencia
																General</strong></td>
														<td style="width: 65.2047%;">Postulante que no ha
															consignado la totalidad de la informaci&oacute;n en la
															plataforma de reclutamiento y/o ficha de postulante.</td>
													</tr>
													<tr>
														<td style="width: 34.7953%;"><strong>Experiencia
																Espec&iacute;fica</strong><strong><br /></strong></td>
														<td style="width: 65.2047%;">La experiencia
															espec&iacute;fica, se encuentra incluida en la
															experiencia general y se refiere al tiempo de experiencia
															requerida para el puesto en la funci&oacute;n o la
															materia considerando el nivel m&iacute;nimo requerido del
															perfil del puesto (Anexo A). De solicitarse experiencia
															espec&iacute;fica en el sector p&uacute;blico, se
															considerar&aacute; el tiempo de servicio brindado a una
															entidad estatal por el r&eacute;gimen del DLeg. 276,
															DLeg. 728 y DLeg. 1057, DLeg. 1024, Ley 29806 (PAC), Ley
															25650 (FAG), entre otras formas de contrataci&oacute;n.</td>
													</tr>
													<tr>
														<td style="width: 34.7953%;"><strong>Nivel
																m&iacute;nimo del puesto</strong><strong><br /></strong></td>
														<td style="width: 65.2047%;">El nivel de puesto
															requerido en caso de no indicar el tiempo requerido en el
															nivel de puesto, se toma en cuenta que esta debe cumplir
															con el tiempo de experiencia espec&iacute;fica en la
															funci&oacute;n o la materia</td>
													</tr>
													<tr>
														<td style="width: 34.7953%;"><strong>Conocimiento
																de Ofim&aacute;tica e Idiomas</strong><strong><br /></strong></td>
														<td style="width: 65.2047%;">Los conocimientos de
															ofim&aacute;tica (Procesador de Texto, Hojas de
															C&aacute;lculo y Programas de Presentaciones) requerido
															en el perfil del puesto <u>deben ser declarados</u> por
															los/las postulantes, en la Ficha de Postulante (Anexo C),
															<u>siendo indispensable indicar el nivel de
																conocimientos</u> (b&aacute;sico, intermedio o avanzado) de
															cada tipo. Estos conocimientos no necesitan
															documentaci&oacute;n que los acredite toda vez que la
															ficha del postulante tiene car&aacute;cter de
															declaraci&oacute;n jurada sujeto a verificaci&oacute;n
															posterior.
														</td>
													</tr>
													<tr>
														<td style="width: 34.7953%;"><strong>Estudios
																de Especializaci&oacute;n</strong><strong><br /></strong></td>
														<td style="width: 65.2047%;">
															<p>Los Cursos/Diplomados/Programas de
																Especializaci&oacute;n, etc., deben registrarse,
																incluyendo las horas de duraci&oacute;n. Respecto a los
																programas de Especializaci&oacute;n y/o diplomado, para
																que sean considerador como tal, &eacute;stos
																deber&aacute;n tener la duraci&oacute;n m&iacute;nima de
																90 horas, salvo sean organizados por disposici&oacute;n
																de un ente rector, en cuyo caso pueden ser desde 80
																horas. Para estos casos deber&aacute;n contar con los
																programas de especializaci&oacute;n que se requiera para
																cumplir con el requisito m&iacute;nimo del perfil de
																puesto. En caso que los Diplomados hayan iniciado
																durante la vigencia de la Ley N&deg; 30220, que aprueba
																la Ley Universitaria, a partir del 10 de julio de 2014
																se considerar&aacute;n estudios de postgrado los
																diplomados de postgrado, con un m&iacute;nimo de
																veinticuatro (24) cr&eacute;ditos, teniendo en cuenta
																que cada cr&eacute;dito acad&eacute;mico equivale a
																diecis&eacute;is (16) horas lectivas.</p> Debe precisar si
															posee estudios de Maestr&iacute;a o Doctorado en la
															materia solicitada por el perfil. En el caso que estos no
															hayan concluido, o cuenten con la condici&oacute;n de
															egresado, podr&aacute;n ser considerados para el
															cumplimiento de alg&uacute;n otro requisito, siempre y
															cuando el postulante presente el documento donde se
															evidencie el n&uacute;mero de horas que ya han cumplido.
														</td>
													</tr>
												</tbody>
											</table>

										</li>
									</ol>
									<br/>
								</li>
								<li>Revisi&oacute;n de las postulaciones
									<p>La entidad revisará la Ficha de Postulante (Anexo C),
										conforme a lo declarado en la misma, considerando la
										información que corresponda al cumplimiento de los requisitos
										establecidos en el Perfil del Puesto (Anexo A), por lo que es
										eliminatoria y no cuenta con puntaje. Los/as postulantes
										obtendrán una de las siguientes condiciones:</p>
										<table style="width: 100%; height: 18px;">
											<tbody>
												<tr style="height: 18px;">
													<td style="width: 34.7953%; height: 18px;">CONDICI&Oacute;N</td>
													<td style="width: 65.2047%; height: 18px;">DETALLE DE
														LA CONDICI&Oacute;N</td>
												</tr>
												<tr>
													<td style="width: 34.7953%;"><strong>CALIFICA</strong></td>
													<td style="width: 65.2047%;">Postulante que cumple con
														todos los requisitos m&iacute;nimos exigidos en el perfil
														de puesto</td>
												</tr>
												<tr>
													<td style="width: 34.7953%;"><strong>NO
															CALIFICA</strong><strong><br /></strong></td>
													<td style="width: 65.2047%;">Postulante que no cumple
														con alguno de los requisitos m&iacute;nimos exigidos en el
														perfil de puesto.</td>
												</tr>
												<tr>
													<td style="width: 34.7953%;"><strong>DESCALIFICADO/A</strong><strong><br /></strong></td>
													<td style="width: 65.2047%;">Postulante que no ha
														consignado la totalidad de la informaci&oacute;n en la
														plataforma de reclutamiento y/o ficha de postulante.</td>
												</tr>
											</tbody>
									</table>
								</li>
							</ol>
<p><strong>2.3.2. Etapa de Evaluación y criterios de evaluación, resultados</strong></p>	
					<div>
						<p>
						Los/as postulantes que hayan obtenido la condición de “CALIFICA” como resultado de la Etapa de Convocatoria y Reclutamiento deben rendir las evaluaciones orientadas a constatar su idoneidad para el puesto. Cada una de las evaluaciones es eliminatoria. Solo pueden acceder a la siguiente evaluación quienes hayan obtenido la condición “califica” en la evaluación anterior.
						Esta etapa está conformada por las siguientes evaluaciones:
						</p>
					</div>
	<tr th:each="obj,i : ${reporte.evaluaciones}">
		<td>
			 <span style="font-weight: bold;" th:text="'2.3.2.'+(${i.index}+1)+ ' Evaluación '+${#strings.toLowerCase(obj.descripcion)}"></span> 
			 <br/>
			 <div th:remove="tag" th:utext="${obj.informe}"></div>
		</td>
	</tr>
<p><strong>2.3.3. Etapa de Elección y resultados del proceso</strong></p>
En esta etapa, el comité de selección elige al/la postulante idóneo/a para el puesto convocado, de acuerdo al puntaje acumulado obtenido como consecuencia de la suma de todas las evaluaciones anteriores de los/as postulantes que alcanzaron la condición de “CALIFICA”. 
<p><strong>2.3.3.1.	Elaboración de Puntaje Final</strong></p>	
<p>En esta etapa, el comité de selección elige al/a la candidato/a idóneo/a para el puesto convocado. 
Para el caso de los puestos de directivos públicos. El puntaje total se obtiene aplicando el promedio simple de los puntajes equivalentes. El promedio simple se obtiene dividiendo la suma de los puntajes equivalentes obtenidos en las evaluaciones entre el número total de evaluaciones realizadas (no se considera la evaluación psicológica). El puntaje equivalente se determina de la misma manera como se indicó en el punto “Consideraciones previas a la entrevista final”.
Sobre la base del puntaje total obtenido se otorgan las bonificaciones establecidas por ley, según corresponda.
</p> 
<p>El puntaje final por cada candidato/a resulta de sumar el puntaje total obtenido con las bonificaciones otorgadas, de ser el caso.</p> 
<p>Posteriormente, se elabora un listado de postulantes ordenado de manera descendente según el puntaje final obtenido por cada uno de ellos, para luego proceder a elegir a los/las ganadores/as y accesitarios/as del concurso, considerando el número de posiciones convocadas.</p> 

<p> En caso de incumplimiento de la cuota señalada en el artículo 53 del Reglamento de la Ley Nº 29973, “Ley General de la Persona con Discapacidad” y cuando se presente un empate en un concurso público de mérito luego de haber otorgado la bonificación a que se hace mención en el artículo 51 del Reglamento de la mencionada Ley, se debe seleccionar a la persona con discapacidad.</p>  

<p> En esta etapa se firma el acta en la que el comité, según corresponda, declara al/la ganador/a del concurso, así como al/la accesitario/a, de corresponder.</p>  

<p>En caso de que existiera más de una posición concursada para un mismo puesto, se declaran a los/las ganadores/as y tantos accesitarios como posiciones convocadas en el concurso público de méritos.</p>

<p> Los resultados finales del proceso de selección deben ser publicados en el portal institucional o en el medio utilizado para la publicación de los resultados parciales, según corresponda.</p> 

<p><strong>2.3.3.2.	Resultado Final del proceso</strong></p>
El resultado final del CPMA será publicado en el Portal Institucional de la entidad, conteniendo el nombre de el/la ganador/a del CPMA, así como del accesitario, de corresponder. 
Asimismo, la entidad remitirá un correo electrónico dirigido a el/la ganador/a, comunicándole los resultados del proceso e invitándolo/a la formalización del mismo. 
Posterior a la publicación de los resultados finales en el Portal Institucional de la entidad, el/la ganador/a del CPMA dispone de un plazo máximo de treinta y un (31) días calendario para asumir el puesto para el que fue elegido, o en su defecto, comunicar su desistimiento.
En caso de que el/ la ganador/a del CPMA no pudiera acceder al puesto obtenido, no realizara las acciones necesarias para su vinculación con la entidad dentro del plazo antes señalado, o se presentasen algunas de las causales mencionadas en el artículo 49 de la Ley del Servicio Civil, la entidad podrá cubrir el puesto con el/la accesitario/a, dentro de los primeros seis (6) meses luego de finalizado el concurso.

<p><strong>CAPITULO III. BONIFICACIONES POR DISCAPACIDAD, LICENCIADOS DE LAS FUERZAS ARMADAS Y/O DEPORTISTAS CALIFICADOS DE ALTO NIVEL</strong></p>
<div th:if="${#lists.isEmpty(reporte.bonificaciones)}"   >
		<span style="font-family: 'Calibri';font-size: 14pt">No Aplica</span>
</div>

<div th:unless="${#lists.isEmpty(reporte.bonificaciones)}"  >
	<div th:each="bonificacion,i : ${reporte.bonificaciones}">
<span style="font-weight: bold;" th:text="'3.'+(${i.index}+1)+ ' '+${bonificacion.titulo}"></span>
<div th:remove="tag" th:utext="${bonificacion.contenido}"></div>

</div>
</div>
<p><strong>CAPITULO IV. SITUACIONES IRREGULARES Y CONSECUENCIAS (caso de no presentación a las evaluaciones por parte del candidato, caso de suplantación, entre otros.)</strong></p>
<p>4.1.	La Entidad se reserva el derecho de brindar información de los resultados alcanzados en las diferentes etapas respecto de postulantes distintos al solicitante, de considerarse que vulnera la Ley N° 29733, Ley de Protección de Datos Personales y su Reglamento.</p>
<p>4.2.	La entidad, podrá acudir a los mecanismos de verificación para poder aclarar información consignada por el postulante en la Ficha de Postulante y/o en la presentación de documentación que lo acrediten.</p>
<p>4.3.	Durante el desarrollo de cada una de las etapas de evaluación, los/as postulantes deberán permanecer en el ambiente (virtual o físico) señalado para las evaluaciones; de lo contrario serán automáticamente DESCALIFICADOS.</p>
<p>4.4.	En caso de que el/la postulante sea suplantado por otra/o postulante o por un tercero, será automáticamente DESCALIFICADO, sin perjuicio de las acciones civiles o penales que la entidad convocante adopte.</p>
<p>4.5.	De detectarse que el/la postulante haya incurrido en plagio o incumplido lo indicado en las Bases y consideraciones a tomar en cuenta publicadas para el desarrollo de cualquiera de las etapas del CPMA, será automáticamente DESCALIFICADO; sin perjuicio de las acciones civiles o penales que la entidad convocante pueda adoptar.</p>
<p>4.6.	Los/as postulantes que mantengan vínculo de cualquier índole con la entidad convocante, se someterán a las disposiciones establecidas en las presentes Bases del CPMA participando en iguales condiciones con los demás postulantes.</p>
<p>4.7.	En caso el/la postulante presentara información inexacta o incumpla con uno o más requisitos para la incorporación al servicio civil con carácter de declaración jurada, será DESCALIFICADO del CPMA en cualquiera de las etapas en la cual se encuentre; y si luego de haberse adjudicado una posición, se verifica que ha consignado información falsa, será cesado, con arreglo a las normas vigentes, sin perjuicio de la responsabilidad penal y/o administrativa en que hubiera incurrido.</p>
<p>4.8.	Los requisitos y su calificación, se establecen y evalúan de acuerdo a los principios del Texto Único Ordenado de la Ley 27444, Ley del Procedimiento Administrativo General, y las normas orientadas a la simplificación administrativa. </p>

<p><strong>CAPITULO V. MECANISMOS DE IMPUGNACIÓN Y OBSERVACIÓN</strong></p>
<div th:if="${#lists.isEmpty(reporte.observacion)}"   >
		<span style="font-family: 'Calibri';font-size: 14pt">No Aplica</span>
</div>

<div th:unless="${#lists.isEmpty(reporte.observacion)}"  >
	<div th:each="bonificacion,i : ${reporte.observacion}">
	<span style="font-weight: bold;" th:text="'5.'+(${i.index}+1)+ '. '+${bonificacion.titulo}"></span>
	<div th:remove="tag" th:utext="${bonificacion.contenido}"></div>
	</div>

</div>

<p><strong>CAPITULO VI: DE LA ABSTENCIÓN DE LOS MIEMBROS DEL COMITÉ DE SELECCIÓN</strong></p>
<div th:if="${#lists.isEmpty(reporte.abstencion)}"    >
		<span style="font-family: 'Calibri';font-size: 14pt">No Aplica</span>
</div>

<div th:unless="${#lists.isEmpty(reporte.abstencion)}"  >
	<div th:each="bonificacion,i : ${reporte.abstencion}">
	<span style="font-weight: bold;" th:text="'6.'+(${i.index}+1)+ '. '+${bonificacion.titulo}"></span>
	<div th:remove="tag" th:utext="${bonificacion.contenido}"></div>
	</div>

</div>
<p><strong>CAPITULO VII: DE LA DECLARATORIA DE DESIERTO O DE LA CANCELACIÓN DEL PROCESO</strong></p>

<div th:if="${#lists.isEmpty(reporte.desierto)}"    >
		<span style="font-family: 'Calibri';font-size: 14pt">No Aplica</span>
</div>

<div th:unless="${#lists.isEmpty(reporte.desierto)}"  >
	<div th:each="bonificacion,i : ${reporte.desierto}">
	<span style="font-weight: bold;" th:text="'7.'+(${i.index}+1)+ '. '+${bonificacion.titulo}"></span>
	<div th:remove="tag" th:utext="${bonificacion.contenido}"></div>
	</div>

</div>


<p><strong>VIII ANEXOS</strong></p>
Anexo A: Perfil del Puesto<br/>
Anexo B: Cronograma<br/>
Anexo C: Ficha de Postulante<br/>    
Anexo D: Declaraciones Juradas<br/>
Anexo E: Ficha de Evaluación Curricular<br/>
Anexo F: Información de Logros obtenidos en la gestión<br/>

<p style="text-align: right;">
<span style="text-align: right;"
			th:text="${reporte.fechaPublicacion}">
			</span>
			<br/>
			OFICINA DE RECURSOS HUMANOS
			</p>
			 </div> 
</body>
</html>