<html xmlns:th="http://www.thymeleaf.org">
<head>
 
</head>
   
     
  <body>
     <table style="width: 100%;" >
<tbody>
<tr>
<td style="width: 29.9655%;">
<img th:src="@{src/main/resources/servir.png}" width="200px" height="80px"></img>
</td>
<td style="width: 70.0345%;">
<h2 style="text-align: center;">FORMATO DE PERFIL DEL PUESTO</h2>
</td>
</tr>
</tbody>
</table>
 
       <h3 style="text-align: left; color: black">
      <span th:text="'IDENTIFICACIÓN DEL PUESTO'" ></span>
    </h3>   
<table style="width: 100%; height: 255px;"  >
<tbody>
<tr style="height: 17px;">
<td style="width: 28.338%; height: 17px;">Órgano</td>
<td style="width: 71.662%; height: 17px;"><span th:text="${reporte.organo}"></span></td>
</tr>
<tr style="height: 17px;">
<td style="width: 28.338%; height: 17px;">Unidad Orgánica</td>
<td style="width: 71.662%; height: 17px;"><span th:text="${reporte.unidadorganica}"></span></td>
</tr>
<tr style="height: 17px;">
<td style="width: 28.338%; height: 17px;">Unidad Funcional</td>
<td style="width: 71.662%; height: 17px;"><span th:text="${reporte.unidadfuncional}"></span></td>
</tr>
<tr style="height: 17px;">
<td style="width: 28.338%; height: 17px;">Nivel Organizacional</td>
<td style="width: 71.662%; height: 17px;"><span th:text="${reporte.nivelorganizacional}"></span></td>
</tr>
<tr style="height: 17px;">
<td style="width: 28.338%; height: 17px;">Grupo de servidores civiles</td>
<td style="width: 71.662%; height: 17px;"><span th:text="${reporte.servidores}"></span></td>
</tr>
<tr style="height: 17px;">
<td style="width: 28.338%; height: 17px;">Familia de puestos</td>
<td style="width: 71.662%; height: 17px;"><span th:text="${reporte.familia}"></span></td>
</tr>
<tr style="height: 17px;">
<td style="width: 28.338%; height: 17px;">Rol</td>
<td style="width: 71.662%; height: 17px;"><span th:text="${reporte.rol}"></span></td>
</tr>
<tr style="height: 17px;">
<td style="width: 28.338%; height: 17px;">Nivel / categoría</td>
<td style="width: 71.662%; height: 17px;"><span th:text="${reporte.nivel}"></span></td>
</tr>
<tr style="height: 17px;">
<td style="width: 28.338%; height: 17px;">Puesto Tipo</td>
<td style="width: 71.662%; height: 17px;"><span th:text="${reporte.puestotipo}"></span></td>
</tr>
<tr style="height: 17px;">
<td style="width: 28.338%; height: 17px;">Subnivel / subcategoría</td>
<td style="width: 71.662%; height: 17px;"><span th:text="${reporte.subnivel}"></span></td>
</tr>
<tr style="height: 17px;">
<td style="width: 28.338%; height: 17px;"><strong>Nombre del puesto</strong></td>
<td style="width: 71.662%; height: 17px;"><strong><span th:text="${reporte.nombrepuesto}" ></span></strong></td>
</tr>
<tr style="height: 17px;">
<td style="width: 28.338%; height: 17px;">Código del puesto</td>
<td style="width: 71.662%; height: 17px;"><span th:text="${reporte.codigopuesto}"></span></td>
</tr>
<tr style="height: 17px;">
<td style="width: 28.338%; height: 17px;">N° de posiciones del puesto</td>
<td style="width: 71.662%; height: 17px;"><span th:text="${reporte.posicionespuesto}"></span></td>
</tr>
<tr style="height: 17px;">
<td style="width: 28.338%; height: 17px;">Código de posiciones</td>
<td style="width: 71.662%; height: 17px;"><span th:text="${reporte.codigoposiciones}"></span></td>
</tr>
<tr>
<td style="width: 28.338%;">Dependencia jerárquica lineal</td>
<td style="width: 71.662%;"><span th:text="${reporte.dependenciajerarquica}"></span></td>
</tr>
<tr>
<td style="width: 28.338%;">Dependencia funcional</td>
<td style="width: 71.662%;"><span th:text="${reporte.dependenciafuncional}"></span></td>
</tr>
<tr>
<td style="width: 28.338%;">Grupo de servidores al que reporta</td>
<td style="width: 71.662%;"><span th:text="${reporte.servidoresreporta}"></span></td>
</tr>
<tr style="height: 17px;">
<td style="width: 28.338%; height: 17px;">N° de posiciones a su cargo</td>
<td style="width: 71.662%; height: 17px;"><span th:text="${reporte.posicionescargo}"></span></td>
</tr>
<tr style="height: 17px;"  >
<td style="width: 28.338%; height: 17px;"><span th:text="${tp}"></span></td>
<td style="width: 71.662%; height: 17px;"><span th:text="${reporte.condicion}"></span></td>
</tr>
<tr style="height: 17px;"  >
<td style="width: 28.338%; height: 17px;"><span th:text="${con}"></span></td>
<td style="width: 71.662%; height: 17px;"><span th:text="${reporte.tipopracticas}"></span></td>
</tr>
</tbody>
</table>
     
      <h3 style="text-align: left; color: black">
      <span th:text="'MISIÓN DEL PUESTO'" ></span>
    </h3>

      <table style="border-collapse: collapse; width: 100%; " border="1">
		<tbody>
		<tr  >
			<td style="width: 100%;"><span th:text="${reporte.mision}"></span></td>
		</tr>
		</tbody>
		</table>
  
      	<h3 style="text-align: left; color: black">
      		<span th:text="'FUNCIONES DEL PUESTO'" ></span>
    	</h3>
      	<tr th:each="obj : ${reporte.actividades}">
     		<td th:text="${obj.descripcion}"></td>
		</tr>
	 <h3 style="text-align: left; color: black">
      <span th:text="'CONDICIONES ATÍPICAS PARA EL DESEMPEÑO DEL PUESTO'" ></span>
    </h3>
 

      <table style="border-collapse: collapse; width: 100%; " border="1">
		<tbody>
		<tr  >
			<td style="width: 100%;"><span th:text="${reporte.condAtipica}"></span></td>
		</tr>
		</tbody>
		</table>
		<p>Periodicidad de la Aplicación: <span th:text="${reporte.condperiodicidad}"></span></p>
		<p>Sustento de la Periodicidad:</p>
		<table style="border-collapse: collapse; width: 100%; " border="1">
		<tbody>
		<tr  >
			<td style="width: 100%;"><span th:text="${reporte.sustentoperiodicidad}"></span></td>
		</tr>
		</tbody>
		</table>

	<h3 style="text-align: left; color: black">
      <span th:text="'COORDINACIONES PRINCIPALES'" ></span>
    </h3>
	<p>Coordinaciones Internas :</p>
	<table style="border-collapse: collapse; width: 100%; " border="1">
		<tbody>
		<tr  >
			<td style="width: 100%;"><span th:text="${reporte.condcoorinternas}"></span></td>
		</tr>
		</tbody>
		</table> 
		<p>Grupo de servidores civiles con quien coordina : </p>
		<p style="padding-left: 40px;"><span th:text="${reporte.gruposervidores}"></span></p>
	<p>Coordinaciones Externas :</p>
	<table style="border-collapse: collapse; width: 100%; " border="1">
		<tbody>
		<tr  >
			<td style="width: 100%;"><span th:text="${reporte.condcoorexternas}"></span></td>
		</tr>
		</tbody>
		</table><p></p>


      <h3 style="text-align: left; color: black">
      <span th:text="'FORMACIÓN ACÁDEMICA'" ></span>
    </h3>

	<table id="formacionList" style="border-collapse: collapse;" border="1" >
    <thead>
        <tr>
            <th > NIVEL EDUCATIVO </th>
            <th > ESTADO </th>
            <th > GRADO </th>
             <th > SITUACION ACÁDEMICA </th>
              <th > CARRERA/S O ESPECIALIDAD/ES </th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="formacion : ${reporte.formaciones}">
            <td th:text="${formacion.niveleducativo}"></td>
            <td th:text="${formacion.estado}"></td>
            <td th:text="${formacion.grado}"></td>
            <td th:text="${formacion.situacion}"></td>
            <td th:text="${formacion.carreras}"></td>
        </tr>
    </tbody>
</table>
<h3 style="text-align: left; color: black">
      <span th:text="'CONOCIMIENTOS'" ></span>
    </h3>
    <strong>A)</strong>  Conocimientos Técnicos principales requeridos para el puesto (No se requiere sustentar con documentos): <p></p>
    <p style="padding-left: 20px;">Técnicas de evaluación psicológica, técnicas de entrevistas de selección de personal.</p> 																											
    <strong>B)</strong>  Cursos y programas de especialización requeridos y sustentados con documentos:<p></p>
    <p style="padding-left: 20px;">Cursos en selección de personal o afines (al menos 30 horas acumuladas)</p> 	
    <strong>C)</strong>  Conocimientos de Ofimática e Idiomas/Dialectos<p></p>
    
    
    
    <table style=" width: 85.7435%; height: 63px;" >
<tbody>
<tr>
<td style="width: 47.7947%;">
		<table id="conocimientoList" style="border-collapse: collapse;" border="1" >
		    <thead>
		        <tr>
		            <th > OFIMÁTICA </th>
		            <th > NIVEL DE DOMINIO </th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="con : ${reporte.conocimientos}">
		            <td th:text="${con.descripcion}"></td>
		            <td th:text="${con.niveldominio}"></td>
		
		        </tr>
		    </tbody>
		</table>
</td>
<td style="width: 16.1166%;"></td>
<td style="width: 178.91%;vertical-align:top">
		<table id="idiomasList" style="border-collapse: collapse;" border="1">
		    <thead>
		        <tr>
		            <th > IDIOMA </th>
		            <th > NIVEL DE DOMINIO </th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="idioma : ${reporte.idiomas}">
		            <td th:text="${idioma.descripcion}"></td>
		            <td th:text="${idioma.niveldominio}"></td>
		
		        </tr>
		    </tbody>
		</table>
</td>
</tr>
</tbody>
</table>
    
 
    
    
		    	
		<p></p>
		
	<h3 style="text-align: left; color: black">
      <span th:text="'EXPERIENCIA'" ></span>
    </h3>
    <p><span style="text-decoration: underline;">Experiencia general</span></p>
    Indique el tiempo total de experiencia laboral; ya sea en el sector público o privado.<p></p>  
        <p style="padding-left: 20px;"> <span th:text="${reporte.anioexptotal}+ ' años ' + ${reporte.mesexptotal}+ ' meses'"></span></p> 
    <p><span style="text-decoration: underline;">Experiencia específica</span></p>
    <strong>A.</strong>  Indique el tiempo de <strong>experiencia requerida para el puesto</strong> en la función o la materia: <p></p>
        <p style="padding-left: 20px;"><span th:text="${reporte.anioexprequerida}+ ' años ' + ${reporte.mesexprequerida}+ ' meses'"></span></p> 
    <strong>B.</strong>  En base a la experiencia requerida para el puesto <strong>(parte A)</strong>, señale el tiempo requerido en el <strong>sector público</strong>:  <p></p> 
    <p style="padding-left: 20px;"><span th:text="${reporte.anioexppublico}+ ' años ' + ${reporte.mesexppublico}+ ' meses'"></span></p>
    <strong>C.</strong> Indique el <strong>nivel mínimo de puesto</strong> que se requiere como experiencia; ya sea en el sector público o privado: <p></p>
    <p style="padding-left: 20px;"><span th:text="${reporte.nivelminimo}"></span></p>
    <em>* Mencione <strong><span style="text-decoration: underline;">otros aspectos complementarios sobre el requisito de experiencia</span></strong>; en caso existiera algo adicional para el puesto.</em><p></p>
    <p style="padding-left: 20px;"><span th:text="${reporte.aspectoscomplementarios}"></span></p>
    
    <h3 style="text-align: left; color: black">
      <span th:text="'HABILIDADES O COMPETENCIAS'" ></span>
    </h3>
    
    
     <table style="border-collapse: collapse; width: 100%; " border="1">
		<tbody>
		    	<tr th:each="habilidades : ${reporte.expdetalleHabilidades}">
     		<td th:text="${habilidades.descripcion}"></td>
		</tr>
		</tbody>
		</table>

    
    <h3 style="text-align: left; color: black">
      <span th:text="'REQUISITOS ADICIONALES'" ></span>
    </h3>
    
    <table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
					<tr th:each="requisitos : ${reporte.expdetalleRequisitos}">
     					<td th:text="${requisitos.descripcion}"></td>
					</tr>
</tbody>
</table>
 

    
 </body>
</html>